body{
background-color: rgb(14, 13, 13);    
 /* Hide vertical scrollbar */
position: relative;
overflow-x: hidden;
    margin: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100%;
    font-family: "BPG No9", sans-serif;


}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
/* body.hidden{
    overflow-y: hidden;
} */
#header {
    width: 100%;
    position: relative;
  }
 
/* img-tables */
.imgsTable{
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-top: 10px;
   position: relative;
}
.img-container1{
   
   display: flex;
   flex-direction: row;
   gap: 15px;
   
   justify-content: center;
   
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
}  
.Scroll{
    height: 180px;
    border-radius: 10px;
 
}

.silverImg {
  width: 950px; 
  height: 800px; 
  position: absolute; 
  top: 5%; 
  left: 52%; 
  transform: translateX(-50%); 
  z-index: 10; 
}

/* shadow */
.top-shadow,
.bottom-shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.top-shadow {
    top: 0;
  }
  
  .bottom-shadow {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  /* cookies */
.cookiesDv{
    background-color:wheat;
    border-radius: 10px;
}
.titlesDV{
    padding: 20px;
}
.card-title{
    color: blueviolet;
    font-size: 25px;
}
.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 15px;
}
.acceptDv{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
  .cookie-alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    animation: fade 2.5s;
    /* transform: translateY(-10%); */
    transition: all 500ms ease-out;
  }
  @keyframes fade {
    from{transform: translateY(300px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
  }
  .cookie-alert.active {
    transform: translateY(110%);
    transition-delay: 1000ms;
  }
  /* splideSlider */
  .sliders{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
.splide {
  background: var(--green);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.splide:nth-of-type(even) {
    transform: translateX(-400%);
}

.splide.show {
  transform: translateX(0);
}



  .sliderImg {
    width: 97%;
    height: 350px;
    object-fit:cover;
    border: 1px solid wheat;
    
  }
  .sliderImg:hover {
    opacity: 0.4; 
    transition: all 0.5s ease;
    width: 100%;
    
  }
  .divPH{
    color: wheat;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-left: 30px;
    display: none;
    letter-spacing: 10px;
    animation: fadein 1.8s;
    -moz-animation: fadein 1.8s; /* Firefox */
    -webkit-animation: fadein 1.8s; /* Safari and Chrome */
    -o-animation: fadein 1.8s; /* Opera */
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

  .divPH.active{
    display: block;
  }
.h1SL{
  font-size: 35px;
  margin-left: 80px;
  padding-bottom: 15px;
} 
 .pSL{
  font-size: 30px;
 }

 /* choosedv */
 .chooseDv{
    text-align: center;
          margin-left: 19%;
         transform: translateY(-130px);
          max-width: 60%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-family: 'Courier New', Courier, monospace;
 }
.chooseH{
  font-size: 60px;
}
.chooseP{
  font-size: 30px;
  width: 80%;
  padding: 20px;
  margin: 20px 0; 
}
/* middlediv */
.middleSection {
    font-family: 'Courier New', Courier, monospace;
    margin: 60px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.middleDV{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 140px;
    width: 90%;
}
 
/* accordion */



.accordion-wraper{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 40px;
}
.accordion{
  position: relative;
  padding: 25px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  gap: 20px;
 border-radius: 10px;
}
.accordionicn{
  width: 50px;
}
.accordion-title{
  font-size: 30px;
}
.accordion-title::before{
  content: "\27B4";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.accordion-descr {
  font-size: 20px;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.accordion.active .accordion-descr {
  height: 100px;
}
.accordion.active .accordion-title::before {
  content: "\27B6";
}

  
/* footer */
footer{
    /* background-color: rgb(49, 2, 2); */
    background-color: rgb(49, 2, 2);
    width: 100%;
    height: 100px;
    cursor: pointer;
    position: absolute;
    bottom: -185%;

}
.h1footer{
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.divFooter{
    display: flex;
    padding:20px ;
   
    background-color: rgb(49, 2, 2);
    width: 100%;
    height: 100px;
}

#fa{
    padding: 20px;
    width: 50px;
   font-size: 40px;
   top: 5px;
}
#fa:hover{
    opacity: 0.2;
    transition: all 0.7s;
}
.fa-facebook {
    color: black;
    position: absolute;
    
    left: 280px;

  }
.fa-twitter {
    color: black;
    position: absolute;
    
    left: 330px;

}
.fa-youtube {
    color: black;
    position: absolute;
    left: 140px;
    transform: translateX(500%);

  }

.socialfa:hover {
    opacity: 0.7;
}


/* scrollreveal */
.parent {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  margin-top: 30px;
}

.imgsDv{
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.line{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  padding: 10px;
  width: 100%;
}
.scrollimg{
  border-radius: 20px;
  width: 100%;
}
.scrollimg:hover{
  opacity: 0.2;
  transition: all 1s;
}
.scrollimg.small {
  width: 100%;
  height: auto;
  /* transform: translateY(-2%); */
}

.scrollimg.medium {
  width: 110%;
  /* transform: translateY(-8%); */

  height: auto;
}

.scrollimg.large {

  width: 100%;
  height: auto;
}
.liscroll{
  position: relative;
  width: 100%;
}

.h1IMGS{
  color:wheat;
  z-index: 999;
  padding: 20px;
  font-size: 25px;

}

.PIMGS{
  padding: 20px;
  color: antiquewhite;
  width: 80%;
  margin-left: 20px;
  border-radius: 2px;
  font-size: 20px;
  height: 20%;
}
.datadv{
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 05%;
  display: none;
  animation: fadein 1.8s;
  -moz-animation: fadein 1.8s; /* Firefox */
  -webkit-animation: fadein 1.8s; /* Safari and Chrome */
  -o-animation: fadein 1.8s; /* Opera */
  width: 280px;
  height: 250px;
  z-index: 999;
  background-color:blueviolet;
  border-radius: 10px;
}
.datadv.active{
  display: block;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
/* backToTop */

.btn-back2top {
  position: fixed;
  width: 30px;
  height: 40px;
  bottom: 10%;
  left: 50px;
  z-index: 1;
  animation: fade 0.2s ease-in-out;
 color:blueviolet;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-back2top.show {
  display: flex;
}
.fa-jet-fighter-up{
  font-size: 70px;
}

/* media */
@media (max-width:1500px){
  .chooseDv{
     margin-left: 26%;
  }
  .datadv{
    width: 230px;
    height: 190px;
  }
  .PIMGS{
    font-size: 15px;
    padding: 10px;
  }
  @media(max-width:1400px){
      .chooseDv{
          margin-left: 30%;
      }
      .datadv{
        width: 180px;
        height: 190px;
      }
     .h1IMGS{
      
     }
      .PIMGS{
        font-size: 15px;
        padding: 10px;
        width: 80%;
      }
  }
  .silverImg{
    left: 60%;
  }
  .chooseP{
    font-size: 5px;
  }
}
@media(max-width:1024px){
  .chooseDv{
    margin-left: 23%;
}
.chooseH{
  font-size: 40px;
}
.chooseP{
  font-size: 20px;
}
  .datadv{
    width: 135px;
    height: 190px;

  }
 .h1IMGS{
  font-size: 18px;
 }
  .PIMGS{
    font-size: 9px;
    padding: 10px;
  }
  .scrollimg{
    width: 135%;
  }
  .scrollimg.small {
    width: 135%;
    height: auto;
    
  }
  
  .scrollimg.medium {
    width: 145%;
    
  }
  
  .scrollimg.large {
  
    width: 135%;
   
  }
   .splide__list{
    gap: 10px;
   }
   .h1SL{
    font-size: 25px;
    margin: 10px;
   }
   .pSL{
    font-size: 20px;
   }
   .silverImg{
    width: 750px; 
  height: 700px; 
  left: 53%;
   }
}
@media(max-width:768px ){
  .datadv{
    width: 90px;
    height: 160px;
  }
 .h1IMGS{
  font-size: 13px;
 }
  .PIMGS{
    font-size: 5px;
    padding: 10px;
    width: 70%;
    height: 22px;
  }
  .scrollimg{
    width: 160%;
  }
  .scrollimg.small {
    width: 160%;
    height: auto;
    
  }
  
  .scrollimg.medium {
    width: 170%;
    
  }
  
  .scrollimg.large {
  
    width: 160%;
   
  }
  .h1SL{
    font-size: 20px;
    margin: 10px;
   }
   .pSL{
    font-size: 15px;
   }
   .silverImg{
    width: 650px; 
    height: 700px; 
   }
   .chooseDv{
    margin-left: 20%;
}
.chooseH{
  font-size: 35px;
}
.chooseP{
  font-size: 15px;
}
}
@media(max-width:600px  ){
  .datadv{
    width: 90px;
    height: 160px;
  }
 .h1IMGS{
  font-size: 12px;
  
 }
  .PIMGS{
    font-size: 4px;
    padding: 10px;
    width: 70%;
    height: 22px;
  }
  .scrollimg{
    width: 190%;
  }
  .scrollimg.small {
    width: 190%;
    height: auto;
    
  }
  
  .scrollimg.medium {
    width: 200%;
    
  }
  
  .scrollimg.large {
  
    width: 190%;
   
  }
  .splide__list{
    gap: 14px;
    

   }
   .h1SL{
    font-size: 18px;
    margin: 10px;
   }
   .pSL{
    font-size: 12px;
   }
   .silverImg{
    width: 550px; 
    height: 600px; 
   }
 
.chooseH{
  font-size: 25px;
}
.chooseP{
  font-size: 10px;
}
}
@media(max-width:560px ){
  .datadv{
    left: 2px;
    width: 75px;
    height: 130px;
  }
 .h1IMGS{
  font-size: 9px;
 }
  .PIMGS{
   
    font-size: 2px;
    padding: 10px;
    width: 70%;
    
  }
  .scrollimg{
    width: 210%;
  }
  .scrollimg.small {
    width: 210%;
   
    
  }
  
  .scrollimg.medium {
    width: 220%;
    
  }
  
  .scrollimg.large {
  
    width: 210%;
   
  }
  .h1SL{
    font-size: 15px;
    margin: 10px;
   }
   .pSL{
    font-size: 12px;
    margin: 10px;
   }
   .silverImg{
    width: 500px; 
    height: 550px; 
   }
}